<div class="info">
  <div class="title">
    <h1>{{ title }}</h1>
  </div>
  <div class="blog-post-foot">
    <ul>
      <li>
        <span><i class="icon-user"></i></span>
        {{ author }}
      </li>
      <li>
        <span><i class="icon-date"></i></span>
        {{ date }}
      </li>
    </ul>
  </div>
</div>
