<ul class="nav">
  <li class="tf"><i class="icon-location"></i><a href="./">首页</a></li>
  <li class="tf"><i class="icon-location"></i><a href="./comp.html">项目</a></li>
  <!-- <li class="tf"><i class="icon-cloud"></i><a href="#">我的网盘</a></li> -->
  <li class="tf login"><i class="icon-login"></i><a href="./login.html">登录</a></li>
</ul>