<aside id="aside" class="">
  <!-- <div id="asideMask"></div> -->
  <div>
    <div class="aside-top">
      {{ avatar }}
    </div>
    <nav class="nav_box">
      {{ nav }}
    </nav>
  </div>
</aside>
<div id="mask"></div>
