<div id="content">
  <main>
    <div class="main-box">
      <div>{{ content }}</div>
      <!-- 右侧导航 -->
      <div>{{ aside }}</div>
      <div class="footer">
        {{ footer }}
      </div>
    </div>
  </main>
</div>
