<div class="header_search">
  <form class="header_search_form">
    <input type="text" placeholder="请输入关键字搜索" />
    <span>
      <i class="header_icon icon-search"></i>
    </span>
  </form>
</div>
<span class="mb_search">
  <i class="icon-mb-search" id="mb_search"></i>
</span>
<!-- 移动端搜索框 -->
<div class="sm_search_box" id="sm_search_box">
  <form class="header_search_form">
    <input type="text" placeholder="请输入关键字搜索" />
    <span>
      <i class="header_icon icon-search"></i>
    </span>
  </form>
</div>
