<div class="foter">
  <div class="left">
    <span>© {{ year }} Copyright BY 坏孩子 </span>
  </div>
  <div class="right">
    <span class="right"
      ><a href="http://www.miitbeian.gov.cn/" target="_blank"
        >赣ICP备19012290号</a
      ></span
    >
  </div>
</div>
