<div>
  <div class="avatar_box">
    <div>
      <a href="https://www.agonyy.top" title="Agony">
        <img src="{{ avatar }}" alt="头像" />
      </a>
    </div>
  </div>
  <div class="web_name">
    <p>{{ name }}</p>
    <p class="motto">{{ motton }}</p>
  </div>
</div>
