<div class="blog-post">
  <h3><a href="./detail.html?p={{id}}" data-id="{{id}}">{{title}} </a></h3>
  <p>{{brief}}
  </p>
  <div class="underline"></div>
  <div class="blog-post-foot">
    <ul>
      <li>
        <span><i class="icon-user"></i></span>
        {{author}}
      </li>
      <li>
        <span><i class="icon-date"></i></span>
        {{date}}
      </li>
      </li>
    </ul>
  </div>
</div>