<div class="login">
  <h3>Sign In</h3>
  <p class="err_result"></p>
  <form class="form-group">
    <div class="input-group">
      <!-- <label for="account">
        <i class="icon-account"></i>
      </label> -->
      <input type="text" placeholder="邮箱" id="account" />
    </div>
    <div class="input-group">
      <!-- <label for="password">
        <i class="icon-password"></i>
      </label> -->
      <input type="text" placeholder="密码" id="password" />
    </div>
    <!-- <div class="checkbox-group">
      <input type="checkbox"" value=" 记住我" id="remember" />
      <label for="remember">记住我</label>
    </div> -->
    <button class="login-btn">登录</button>
  </form>
</div>