.register {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -200px;
  // border: 1px solid rgba(116, 129, 141, 0.863);
  border-radius: 5px;
  // box-shadow: 5px 5px 5px rgba(116, 129, 141, 0.575);
  // background-color: #ffffffc4;
  // color: #ffffff;
  h3 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #babecc;
  }
  .err_result {
    height: 20px;
    font-size: 14px;
    color: rgb(238, 73, 73);
    text-align: center;
  }
  .form-group {
    padding: 20px;
    //   border: 1px solid red;
    .input-group {
      line-height: 30px;
      margin-bottom: 10px;
      border: 1px solid rgba(168, 164, 164, 0.637);
      border-radius: 200px;
      display: flex;

      input {
        padding-left: 10px;
        height: inherit;
        outline: none;
        width: 100%;
        padding: 16px;
        background-color: transparent;
        border-radius: 200px;
        transition: all 0.3s ease-in-out;
        box-shadow: inset 3px 3px 6px #babecc, inset -5px -5px 10px #ffffff;
        &:focus {
          box-shadow: inset 1px 1px 2px #babecc, inset -2px -2px 4px #ffffff;
        }
      }
      label {
        position: absolute;
        z-index: 9;
        width: auto;
        right: 50px;
        line-height: 30px;
        margin-top: 10px;
        cursor: pointer;
      }
    }
    .login-btn {
      width: 100%;
      padding: 16px;
      line-height: 30px;
      margin-top: 20px;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 200px;
      background-color: #ebecf0;
      box-shadow: -5px -5px 10px #fff, 5px 5px 10px #9c9faa;
      transition: all 0.1s ease-in-out;
      &:hover {
        box-shadow: -2px -2px 4px #fff, 2px 2px 4px #9c9faa;
      }
    }

    .menu-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .item {
        color: #5d5d61;
        cursor: pointer;
      }
    }
  }
}
